/* root  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9eddd;
  padding: 20px;
}

.header .logo {
  width: 80px;
}

.header h3 {
  text-transform: uppercase;
  color: #070a52;
}

/* navbar section  */
.navbar-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
}

.navbar-items li > a {
  text-decoration: none;
  color: #070a52;
  padding: 16px;
  font-size: 16px;
  transition: all 0.4s 0.1s ease;
}

.navbar-items li > a:hover {
  background-color: #87cbb9;
}

/* Dropdown */

.dropbtn {
  color: #070a52;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #070a52;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #87cbb9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* report section  */
.report-container {
  background-color: #b9eddd;
  padding: 40px;
}
.map {
  width: 300px;
}
.report-container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.report-container > h2 {
  text-align: center;
  font-size: 2rem;
  color: #070a52;
}
.report-container div > p {
  align-self: center;
  text-align: justify;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #484848;
}

/* categories section */
.categories {
  padding: 30px;
  text-align: center;
  color: #070a52;
  font-size: 2rem;
}
.categories img {
  height: 200px;
}
.grid-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 40px;
}
.categories h2 {
  padding-bottom: 40px;
}
.category p {
  font-size: 1.6rem;
}
.categories a {
  text-decoration: none;
  color: #070a52;
}
.categories a:hover {
  transition: all 0.4s 0.1s ease-out;
  transform: scale(0.9);
}
